body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a9b3f;
    background: linear-gradient(90deg, rgba(42, 155, 63, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(134, 237, 83, 1) 100%);
    font-family: Arial;
}

.kontener{
    background-image: url(Nowy\ projekt.png);
    width: 350px;
    height: 500px;
    text-align: center;
    border-radius: 20px;
}

.kolo{
    margin-top: 20px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 10px 5px rgb(128, 191, 105);
}
h2,p{
    color: white;
}
p{
    font-size: 15px;
    font-style: italic;
}
.linki{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.link{
    width: 85%;
    height: 45px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: 0.3s ease;
}

.link:hover{
    background-color: rgb(180, 177, 177);
    transform: scale(1.03);
}

.sociale{
    margin-top: 25px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s ease;
}
